@use "sass:map";
@import '../../../Style/theme';

.sidebars {
	width: 300px;
	background-color:map.get($theme-color,"bg-color-navbar");
	color: #f1f1f1;
	display: flex;
	overflow-y: hidden;
	flex-direction: column;
	padding: 20px;
	box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);

	.sidebar-title {
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 30px;
		text-align: center;
	}

	.sidebar-menu {
		list-style: none;
		padding: 0;
		margin: 0;

		.sidebar-item {
			display: flex;
			align-items: center;
			padding: 15px 20px;
			margin-bottom: 15px;
			border-radius: 5px;
			cursor: pointer;
			transition: background 0.3s ease;
			font-size: 18px;
			color: #fff;
			text-decoration: none;

			&:hover {
				background-color:map.get($theme-color,"main");
			}

			.sidebar-item-icon {
				font-size: 24px;
				margin-right: 15px;
			}

			.sidebar-item-title {
				font-weight: 500;
			}
		}
		.sidebar-item.active {
			background-color: map.get($theme-color,"main");
		}
	}
}
